body {
    font-family: open sans, sans-serif, Helvetica, arial, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
    line-height: 23px;
    background-color: #34383c;
    margin: 0 auto;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
}