.desktopHeader {
    font-family: poppins, Helvetica, arial, sans-serif;
    height: 72px;
    margin: 0 auto;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.headerTransparent {
    background: 0 0;
}

.desktopHeaderInner {
    padding: 0 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    max-width: 1600px;
    margin: auto;
    align-items: center;
    -webkit-box-align: center;
}

.desktopHeaderLogo {
    margin-right: 20px;
}

.desktopHeaderLogo a {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-decoration: None;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.desktopHeaderLogo .adventureLogo {
    width: 26px;
    margin-right: 10px;
}

.desktopHeaderLeftNav {
    list-style: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'open sans', 'sans-serif', 'Helvetica', 'arial', 'sans-serif';
    /* display: flex; */
}

.desktopHeaderLeftNav,
.desktopHeaderRightNav {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.desktopHeaderLeftNavItem a {
    color: #fff;
    opacity: .7;
    -ms-filter: "alpha(opacity=70)";
    filter: alpha(opacity=70);
    cursor: pointer;
    text-decoration: None;
    padding: 15px 10px;
    font-weight: 400;
    font-size: 12px;
    -webkit-transition: opacity 175ms ease-out;
    -moz-transition: opacity 175ms ease-out;
    -o-transition: opacity 175ms ease-out;
    -ms-transition: opacity 175ms ease-out;
    transition: opacity 175ms ease-out
}

.desktopHeaderLeftNavItem a:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.desktopHeaderRightNav {
    list-style: none
}

.desktopHeaderRightNavItem {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.desktopHeaderRightNavItem a {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    opacity: .7;
    -ms-filter: "alpha(opacity=70)";
    filter: alpha(opacity=70);
    cursor: pointer;
    padding: 15px 15px 15px 0;
    -webkit-transition: opacity 175ms ease-out;
    -moz-transition: opacity 175ms ease-out;
    -o-transition: opacity 175ms ease-out;
    -ms-transition: opacity 175ms ease-out;
    transition: opacity 175ms ease-out
}

.desktopHeaderRightNavItem a:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

.desktopHeaderRightNavItem .discord {
    width: 17px;
}

.button.white.ghost {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    color: #fff;
}

.button.rounded {
    height: 30px;
    border-radius: 30px;
    padding: 0 17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    border: 1.5px solid #fff !important;
    opacity: .6;
    -ms-filter: "alpha(opacity=60)";
    filter: alpha(opacity=60);
    -webkit-transition: opacity 175ms ease-out;
    -moz-transition: opacity 175ms ease-out;
    -o-transition: opacity 175ms ease-out;
    -ms-transition: opacity 175ms ease-out;
    transition: opacity 175ms ease-out;
}

.button.rounded:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: open sans, Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    min-height: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    border: 0;
    font-size: 14px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    -webkit-transition: border 180ms ease-out, background 180ms ease-out;
    -moz-transition: border 180ms ease-out, background 180ms ease-out;
    -o-transition: border 180ms ease-out, background 180ms ease-out;
    -ms-transition: border 180ms ease-out, background 180ms ease-out;
    transition: border 180ms ease-out, background 180ms ease-out;
    color: #fff;
    -webkit-transition: border 180ms ease-out, background 180ms ease-out;
    -moz-transition: border 180ms ease-out, background 180ms ease-out;
    -o-transition: border 180ms ease-out, background 180ms ease-out;
    -ms-transition: border 180ms ease-out, background 180ms ease-out;
    transition: border 180ms ease-out, background 180ms ease-out;
}

button {
    outline: 0;
}

@media (max-width: 640px) {
    .mobileHeader {
        display: block;
    }
}

.mobileHeader {
    font-family: poppins, Helvetica, arial, sans-serif;
    height: 72px;
    margin: 0 auto;
    padding: 4px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mobileHeaderInner {
    padding: 0 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.burgerIcon,
.burgerIcon:before,
.burgerIcon:after {
    display: block;
    width: 17px;
    height: 2px;
    -webkit-transition: background-color .3s linear, -webkit-transform .3s linear;
    -moz-transition: background-color .3s linear, -moz-transform .3s linear;
    -o-transition: background-color .3s linear, -o-transform .3s linear;
    -ms-transition: background-color .3s linear, -ms-transform .3s linear;
    transition: background-color .3s linear, transform .3s linear;
    border-radius: 3px;
    background-color: #fff;
}

.burgerIcon {
    position: relative;
    margin: 5px auto;
}

.burgerToggle {
    border: 0;
    background: 0 0;
    cursor: pointer;
}

.burgerIcon:before {
    top: -5px;
}

.burgerIcon:before,
.burgerIcon:after {
    position: absolute;
    content: "";
}

.burgerIcon,
.burgerIcon:before,
.burgerIcon:after {
    display: block;
    width: 17px;
    height: 2px;
    -webkit-transition: background-color .3s linear, -webkit-transform .3s linear;
    -moz-transition: background-color .3s linear, -moz-transform .3s linear;
    -o-transition: background-color .3s linear, -o-transform .3s linear;
    -ms-transition: background-color .3s linear, -ms-transform .3s linear;
    transition: background-color .3s linear, transform .3s linear;
    border-radius: 3px;
    background-color: #fff;
}

.burgerIcon:after {
    top: 5px;
}

.burgerIcon:before,
.burgerIcon:after {
    position: absolute;
    content: "";
}

.burgerIcon,
.burgerIcon:before,
.burgerIcon:after {
    display: block;
    width: 17px;
    height: 2px;
    -webkit-transition: background-color .3s linear, -webkit-transform .3s linear;
    -moz-transition: background-color .3s linear, -moz-transform .3s linear;
    -o-transition: background-color .3s linear, -o-transform .3s linear;
    -ms-transition: background-color .3s linear, -ms-transform .3s linear;
    transition: background-color .3s linear, transform .3s linear;
    border-radius: 3px;
    background-color: #fff;
}

.mobileHeaderLogo {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: auto;
}

.mobileHeaderLogo a {
    text-decoration: None;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    color: #fff
}

.burgerToggle.active .burgerIcon {
    background-color: transparent
}

.burgerToggle.active .burgerIcon:before {
    -webkit-transform: translateY(5px) rotate(45deg);
    -moz-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg)
}

.burgerToggle.active .burgerIcon:after {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -moz-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg)
}

.headerBlack {
    background-color: #1f2225;
}

.mobileHeaderLeftNav {
    position: absolute;
    width: 100%;
    top: 67px;
    left: 0;
    padding: 0;
    margin: 0;
    font-family: open sans, Helvetica, arial, sans-serif;
    display: none;
    z-index: 1000
}

.mobileHeaderLeftNav.open {
    display: block
}

.mobileHeaderLeftNav li {
    padding: 10px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    text-align: left;
}

.mobileHeaderLeftNav li a {
    font-size: 13px;
    text-decoration: none;
    color: #ccc;
    font-weight: 300;
}

.mobileHeaderLeftNav li a:hover {
    color: #fff
}

.button.white.flat {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: #fff;
    padding: 0;
    border-radius: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    opacity: .5;
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
}